@mixin arrow-icons {
    margin-top: 45px;
    font-size: 2rem;
    transition: scale .3s;

    &:hover {
        scale: 1.4;
    }
}

@mixin scale-img {
    width: 100%;
    height: auto;
}

@mixin mobile-img {
    max-width: 450px;
}

@mixin mobile-btn {
    width: 140px;
    height: 35px;
    padding: 10px 24px;
    font-size: 1.4rem;
}

@mixin space-between-sections {
    margin-top: 120px;
}